In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cpi_raw.csv")

In [3]:
df

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,MEX,Mexico,CP010000,CPI: 01 - Food and non-Alcoholic beverages,GP,Percentage change from previous period,A,Annual,2015,2015,PC,Percentage,0,Units,NaN,NaN,3.989153,NaN,NaN
1,MEX,Mexico,CP010000,CPI: 01 - Food and non-Alcoholic beverages,GP,Percentage change from previous period,A,Annual,2016,2016,PC,Percentage,0,Units,NaN,NaN,4.469661,NaN,NaN
2,MEX,Mexico,CP010000,CPI: 01 - Food and non-Alcoholic beverages,GP,Percentage change from previous period,A,Annual,2017,2017,PC,Percentage,0,Units,NaN,NaN,6.966013,NaN,NaN
3,MEX,Mexico,CP010000,CPI: 01 - Food and non-Alcoholic beverages,GP,Percentage change from previous period,A,Annual,2018,2018,PC,Percentage,0,Units,NaN,NaN,4.795746,NaN,NaN
4,MEX,Mexico,CP010000,CPI: 01 - Food and non-Alcoholic beverages,GP,Percentage change from previous period,A,Annual,2019,2019,PC,Percentage,0,Units,NaN,NaN,4.388219,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17607,IDN,Indonesia,CP110000,CPI: 11 - Restaurants and hotels,IXNB,National Index,A,Annual,2021,2021,IDX,Index,0,Units,2018_100,2018=100,109.289200,NaN,NaN
17608,IDN,Indonesia,CP110000,CPI: 11 - Restaurants and hotels,IXNB,National Index,A,Annual,2022,2022,IDX,Index,0,Units,2018_100,2018=100,113.482500,NaN,NaN
17609,IDN,Indonesia,CP120000,CPI: 12 - Miscellaneous goods and services,IXNB,National Index,A,Annual,2020,2020,IDX,Index,0,Units,2018_100,2018=100,110.150000,NaN,NaN
17610,IDN,Indonesia,CP120000,CPI: 12 - Miscellaneous goods and services,IXNB,National Index,A,Annual,2021,2021,IDX,Index,0,Units,2018_100,2018=100,112.885800,NaN,NaN
17611,IDN,Indonesia,CP120000,CPI: 12 - Miscellaneous goods and services,IXNB,National Index,A,Annual,2022,2022,IDX,Index,0,Units,2018_100,2018=100,118.067500,NaN,NaN

In [4]:
df = df[(df["Unit"] == "Index") & (df["Measure"] == "Index")]

In [5]:
len(df["Subject"].unique())

13

In [6]:
df

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
8,RUS,Russia,CP020000,"CPI: 02 - Alcoholic beverages, tobacco and nar...",IXOB,Index,A,Annual,2015,2015,IDX,Index,0,Units,2015_100,2015=100,100.0000,NaN,NaN
9,RUS,Russia,CP020000,"CPI: 02 - Alcoholic beverages, tobacco and nar...",IXOB,Index,A,Annual,2016,2016,IDX,Index,0,Units,2015_100,2015=100,109.8833,NaN,NaN
10,RUS,Russia,CP020000,"CPI: 02 - Alcoholic beverages, tobacco and nar...",IXOB,Index,A,Annual,2017,2017,IDX,Index,0,Units,2015_100,2015=100,116.4829,NaN,NaN
11,RUS,Russia,CP020000,"CPI: 02 - Alcoholic beverages, tobacco and nar...",IXOB,Index,A,Annual,2018,2018,IDX,Index,0,Units,2015_100,2015=100,120.2928,NaN,NaN
12,RUS,Russia,CP020000,"CPI: 02 - Alcoholic beverages, tobacco and nar...",IXOB,Index,A,Annual,2019,2019,IDX,Index,0,Units,2015_100,2015=100,124.4366,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17445,BRA,Brazil,CP110000,CPI: 11 - Restaurants and hotels,IXOB,Index,A,Annual,2018,2018,IDX,Index,0,Units,2015_100,2015=100,117.2591,NaN,NaN
17446,BRA,Brazil,CP120000,CPI: 12 - Miscellaneous goods and services,IXOB,Index,A,Annual,2015,2015,IDX,Index,0,Units,2015_100,2015=100,100.0000,NaN,NaN
17447,BRA,Brazil,CP120000,CPI: 12 - Miscellaneous goods and services,IXOB,Index,A,Annual,2016,2016,IDX,Index,0,Units,2015_100,2015=100,107.7300,NaN,NaN
17448,BRA,Brazil,CP120000,CPI: 12 - Miscellaneous goods and services,IXOB,Index,A,Annual,2017,2017,IDX,Index,0,Units,2015_100,2015=100,111.9912,NaN,NaN
17449,BRA,Brazil,CP120000,CPI: 12 - Miscellaneous goods and services,IXOB,Index,A,Annual,2018,2018,IDX,Index,0,Units,2015_100,2015=100,116.8015,NaN,NaN

In [7]:
df[["Subject", "Country", "Time", "Value"]].groupby(["Country", "Time"]).size()

Country        Time
Australia      2015    13
               2016    13
               2017    13
               2018    13
               2019    13
                       ..
United States  2018    13
               2019    13
               2020    13
               2021    13
               2022    13
Length: 356, dtype: int64

In [8]:
df = df.loc[df["Country"] != "Japan"]

In [9]:
df = df[["Subject", "Country", "Time", "Value"]]

In [10]:
df.columns = ["Subject", "Country", "Year", "CPI"]

In [11]:
df2 = pd.read_csv("cpi_japan_raw.csv")

In [12]:
df2

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,JPN,Japan,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,A,Annual,2015,2015,IDX,Index,0,Units,2015_100,2015=100,100.00000,NaN,NaN
1,JPN,Japan,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,A,Annual,2016,2016,IDX,Index,0,Units,2015_100,2015=100,102.08930,NaN,NaN
2,JPN,Japan,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,A,Annual,2017,2017,IDX,Index,0,Units,2015_100,2015=100,102.79420,NaN,NaN
3,JPN,Japan,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,A,Annual,2018,2018,IDX,Index,0,Units,2015_100,2015=100,104.47420,NaN,NaN
4,JPN,Japan,CP010000,CPI: 01 - Food and non-Alcoholic beverages,IXOB,Index,A,Annual,2019,2019,IDX,Index,0,Units,2015_100,2015=100,104.66610,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,JPN,Japan,CP110000,CPI: 11 - Restaurants and hotels,IXOB,Index,Q,Quarterly,2020-Q2,Q2-2020,IDX,Index,0,Units,2015_100,2015=100,104.34540,NaN,NaN
1426,JPN,Japan,CP110000,CPI: 11 - Restaurants and hotels,IXOB,Index,Q,Quarterly,2020-Q3,Q3-2020,IDX,Index,0,Units,2015_100,2015=100,102.01290,NaN,NaN
1427,JPN,Japan,CP110000,CPI: 11 - Restaurants and hotels,IXOB,Index,Q,Quarterly,2020-Q4,Q4-2020,IDX,Index,0,Units,2015_100,2015=100,99.58065,NaN,NaN
1428,JPN,Japan,CP110000,CPI: 11 - Restaurants and hotels,IXOB,Index,Q,Quarterly,2021-Q1,Q1-2021,IDX,Index,0,Units,2015_100,2015=100,104.89560,NaN,NaN
1429,JPN,Japan,CP110000,CPI: 11 - Restaurants and hotels,IXOB,Index,Q,Quarterly,2021-Q2,Q2-2021,IDX,Index,0,Units,2015_100,2015=100,104.91050,NaN,NaN

In [13]:
df["Country"].unique()

array(['Russia', 'United States', 'Slovak Republic',
       "China (People's Republic of)", 'France', 'Netherlands', 'Greece',
       'Slovenia', 'Costa Rica', 'Italy', 'Luxembourg', 'Finland',
       'Latvia', 'Estonia', 'Mexico', 'South Africa', 'Switzerland',
       'Hungary', 'Norway', 'Czech Republic', 'United Kingdom', 'Israel',
       'Türkiye', 'Belgium', 'New Zealand', 'Sweden', 'Portugal',
       'Australia', 'Chile', 'India', 'Lithuania', 'Colombia', 'Ireland',
       'Austria', 'Korea', 'Denmark', 'Brazil', 'Germany', 'Spain',
       'Iceland', 'Poland', 'Saudi Arabia', 'Indonesia', 'Canada'],
      dtype=object)

In [14]:
df2 = df2[(df2["Unit"] == "Index") & (df2["Measure"] == "Index") & (df2["Frequency"] == "Annual")]

In [15]:
df2 = df2[["Subject", "Country", "Time", "Value"]]

In [16]:
df2.columns = ["Subject", "Country", "Year", "CPI"]

In [17]:
df_oup = pd.concat([df, df2], ignore_index=False)

In [18]:
df_oup = df_oup.loc[df_oup["Country"] != "Türkiye"]

In [19]:
df_oup.loc[df_oup["Country"] == "China (People's Republic of)", "Country"] = ["China" for _ in range((df_oup["Country"] == "China (People's Republic of)").sum())]

In [20]:
df_oup.to_csv("cpi.csv", index=False)

In [21]:
df_oup["Subject"].unique()

array(['CPI: 02 - Alcoholic beverages, tobacco and narcotics',
       'CPI: 04 - Housing, water, electricity, gas and other fuels',
       'CPI: 03 - Clothing and footwear', 'CPI: 01-12 - All items',
       'CPI: 01 - Food and non-Alcoholic beverages',
       'CPI: 09 - Recreation and culture',
       'CPI: 05 - Furnishings, household equipment and routine household maintenance',
       'CPI: 06 - Health', 'CPI: 07 - Transport',
       'CPI: 08 - Communication', 'CPI: 10 - Education',
       'CPI: 12 - Miscellaneous goods and services',
       'CPI: 11 - Restaurants and hotels'], dtype=object)

In [22]:
df_oup[df_oup["Country"] == "Japan"]

                                         Subject Country  Year        CPI
0     CPI: 01 - Food and non-Alcoholic beverages   Japan  2015  100.00000
1     CPI: 01 - Food and non-Alcoholic beverages   Japan  2016  102.08930
2     CPI: 01 - Food and non-Alcoholic beverages   Japan  2017  102.79420
3     CPI: 01 - Food and non-Alcoholic beverages   Japan  2018  104.47420
4     CPI: 01 - Food and non-Alcoholic beverages   Japan  2019  104.66610
...                                          ...     ...   ...        ...
1321  CPI: 12 - Miscellaneous goods and services   Japan  2016  100.44690
1322  CPI: 12 - Miscellaneous goods and services   Japan  2017  100.49860
1323  CPI: 12 - Miscellaneous goods and services   Japan  2018  100.49730
1324  CPI: 12 - Miscellaneous goods and services   Japan  2019  100.83620
1325  CPI: 12 - Miscellaneous goods and services   Japan  2020   99.56364

[78 rows x 4 columns]

In [23]:
df2

                                         Subject Country  Year        CPI
0     CPI: 01 - Food and non-Alcoholic beverages   Japan  2015  100.00000
1     CPI: 01 - Food and non-Alcoholic beverages   Japan  2016  102.08930
2     CPI: 01 - Food and non-Alcoholic beverages   Japan  2017  102.79420
3     CPI: 01 - Food and non-Alcoholic beverages   Japan  2018  104.47420
4     CPI: 01 - Food and non-Alcoholic beverages   Japan  2019  104.66610
...                                          ...     ...   ...        ...
1321  CPI: 12 - Miscellaneous goods and services   Japan  2016  100.44690
1322  CPI: 12 - Miscellaneous goods and services   Japan  2017  100.49860
1323  CPI: 12 - Miscellaneous goods and services   Japan  2018  100.49730
1324  CPI: 12 - Miscellaneous goods and services   Japan  2019  100.83620
1325  CPI: 12 - Miscellaneous goods and services   Japan  2020   99.56364

[78 rows x 4 columns]

In [26]:
selected_countries = ["Japan", "Germany", "United States", "United Kingdom", "France", "Italy", "Canada"]
df_oup_g7 = df_oup[df_oup["Country"].isin(selected_countries)]

In [28]:
len(df_oup_g7["Country"].unique())

7

In [29]:
df_oup_g7.to_csv("cpi_g7.csv", index=False)

In [30]:
df3 = pd.read_csv("cpi_japan_raw.csv")

In [31]:
df3["Time"].unique()

array(['2015', '2016', '2017', '2018', '2019', '2020', 'Jan-2015',
       'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015',
       'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015',
       'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016',
       'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016',
       'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017',
       'Mar-2017', 'Apr-2017', 'May-2017', 'Jun-2017', 'Jul-2017',
       'Aug-2017', 'Sep-2017', 'Oct-2017', 'Nov-2017', 'Dec-2017',
       'Jan-2018', 'Feb-2018', 'Mar-2018', 'Apr-2018', 'May-2018',
       'Jun-2018', 'Jul-2018', 'Aug-2018', 'Sep-2018', 'Oct-2018',
       'Nov-2018', 'Dec-2018', 'Jan-2019', 'Feb-2019', 'Mar-2019',
       'Apr-2019', 'May-2019', 'Jun-2019', 'Jul-2019', 'Aug-2019',
       'Sep-2019', 'Oct-2019', 'Nov-2019', 'Dec-2019', 'Jan-2020',
       'Feb-2020', 'Mar-2020', 'Apr-2020', 'May-2020', 'Jun-2020',
       'Jul-2020', 'Aug-2020', 'Sep-2020', 'Oct-2020', 'Nov-2020',
       'Dec-2020', 'Jan-2021', 'Feb-2021', 'Mar-2021', 'Apr-2021',
       'May-2021', 'Jun-2021', 'Q1-2015', 'Q2-2015', 'Q3-2015', 'Q4-2015',
       'Q1-2016', 'Q2-2016', 'Q3-2016', 'Q4-2016', 'Q1-2017', 'Q2-2017',
       'Q3-2017', 'Q4-2017', 'Q1-2018', 'Q2-2018', 'Q3-2018', 'Q4-2018',
       'Q1-2019', 'Q2-2019', 'Q3-2019', 'Q4-2019', 'Q1-2020', 'Q2-2020',
       'Q3-2020', 'Q4-2020', 'Q1-2021', 'Q2-2021'], dtype=object)